/************* GLOBAL *************/
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  margin: 0;
  min-width: 320px;
}

body {
  margin: 0;
  background-color: #faf8ff;
}

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;
}

input, select, textarea {
  outline: none;
}

a, a:focus, a:active {
  text-decoration: none;
  outline: none;
  color: #000000;
}

input:focus, select:focus, textarea:focus {
  outline: none;
}

/************* FONT *************/
body {
  font-size: 1.8rem;
  line-height: 1.5;
  font-family: Helvetica, Avenir, Inter, system-ui;
  color: #000000;
  font-weight: 400;
}

h1, h2, h3 {
  font-family: Helvetica, Avenir, Inter, system-ui;
  color: #6550b9;
  font-weight: 700;
}

h1 {
  font-size: 4.3rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.2rem;
}

/************* MAIN LAYOUT *************/
.section {
  margin-bottom: 150px;
}
.section .section-title {
  margin-left: 5%;
  margin-bottom: 20px;
}
.section .container {
  width: 90%;
  background: #FFFFFF;
  margin: 0 auto;
  box-shadow: 0px 15px 16.83px 0.17px rgba(0, 0, 0, 0.05);
  border-radius: 20px;
  max-width: 1600px;
  margin-bottom: 20px;
}
.section .container .content {
  padding: 75px 0;
}
.section .container .content .sub-content {
  width: 65%;
  overflow: hidden;
  margin: 0 auto;
}
.section .container .content .sub-content .sub-content-title {
  color: #000000;
  margin-bottom: 30px;
}
.section .container .content .sub-content .sub-group {
  position: relative;
  margin-bottom: 35px;
  overflow: hidden;
}
.section .container .content .sub-content .sub-group:last-child {
  margin-bottom: 0px;
}

/************* ELEMENTS *************/
.button {
  background: #6e56cf;
  color: #FFFFFF;
  border-bottom: none;
  border: none;
  width: auto;
  padding: 15px 39px;
  border-radius: 5px;
  border-radius: 5px;
  margin-top: 25px;
  cursor: pointer;
}
.button:hover {
  background: #5036bc;
}

.form-input {
  width: 100%;
  display: block;
  border: none;
  border-bottom: 1px solid #B2B2BF;
  padding: 6px 30px;
  box-sizing: border-box;
  outline: none;
}
.form-input::-webkit-input-placeholder {
  color: #B2B2BF;
}
.form-input:focus {
  border-bottom: 1px solid #000000;
}
.form-input:focus::-webkit-input-placeholder {
  color: #000000;
}

/************* GLOBAL *************/
header {
  margin: 0 auto;
  background-color: #FFFFFF;
  margin-bottom: 100px;
}

footer {
  margin: 0 auto;
  background-color: #1E1E23;
  color: #FFFFFF;
  padding: 3rem;
  text-align: center;
}

/************* MENU *************/
.menuContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuContainer a {
  color: #000000;
  text-decoration: none;
  font-size: 2.2rem;
  opacity: 1;
  transition: 200ms;
}
.menuContainer a:hover {
  opacity: 0.5;
}
.menuContainer ul {
  padding: 0;
  list-style-type: none;
}
.menuContainer .content {
  width: 100%;
  height: 100%;
  background-color: #faf8ff;
}
.menuContainer nav {
  background-color: #1E1E23;
  height: 65px;
}
.menuContainer #menuToggle {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 13px;
  left: 13px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}
.menuContainer #menuToggle input {
  display: flex;
  width: 40px;
  height: 32px;
  position: absolute;
  cursor: pointer;
  opacity: 0;
  z-index: 2;
}
.menuContainer #menuToggle span {
  display: flex;
  width: 29px;
  height: 2px;
  top: 10px;
  left: 10px;
  margin-bottom: 5px;
  position: relative;
  background: #ffffff;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 5px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
.menuContainer #menuToggle span:first-child {
  transform-origin: 0% 0%;
}
.menuContainer #menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
.menuContainer #menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-3px, -1px);
  background: #36383F;
}
.menuContainer #menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
.menuContainer #menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
.menuContainer #menuToggle input:checked ~ ul {
  transform: none;
}
.menuContainer #menu {
  position: absolute;
  width: 90%;
  height: 100vh;
  box-shadow: 0 0 10px #85888C;
  margin: -50px 0 0 -50px;
  padding: 90px;
  padding-top: 100px;
  background-color: #faf8ff;
  -webkit-font-smoothing: antialiased;
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
.menuContainer #menu h1 {
  margin: 0;
}
.menuContainer #menu li {
  padding: 30px 0;
  transition-delay: 2s;
}
.menuContainer #menu svg {
  padding-right: 20px;
}

/************* FORMS *************/
.form label {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #000000;
}
.form .form-error {
  font-size: 1.2rem;
  margin-top: -20px;
  color: rgb(196, 29, 29);
}
.form .form-succes {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #6550b9;
}

.signup-image, .signin-image {
  display: none;
}

/************* PAGE *************/
.event-list ul {
  padding: 0;
  margin: 0;
}
.event-list p {
  margin: 2px;
}
.event-list svg {
  margin-right: 10px;
}

.event-detail .banner {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}
.event-detail .banner img {
  width: 90%;
  display: block;
  margin: 0 auto;
}
.event-detail .banner h2 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*# sourceMappingURL=style.css.map */
