// DEFAULT
// General
$default-font-size: 1.8rem;
$h1-font-size: 4.3rem;
$h2-font-size: 3.6rem;
$h3-font-size: 2.2rem;
$container-max-width: 1600px;
$container-min-width: 320px;
$line-height: 1.5;

// Fonts
$default-font: Helvetica, Avenir, Inter, system-ui,;

// Colors
$default-black: #000000;
$default-black-header: #1E1E23;
$default-white: #FFFFFF;
$default-grey: #B2B2BF;
$default-1-background-color: #fdfcfe;
$default-2-sublte-background-color: #faf8ff;
$default-3-ui-background: #f4f0fe;
$default-4-hover-ui-background: #ebe4ff;
$default-5-active-selected-ui-background: #e1d9ff;
$default-6-subtle-border-separator: #d4cafe;
$default-7-ui-focus-border: #c2b5f5;
$default-8-hovered-ui-border: #aa99ec;
$default-9-solid-background: #6e56cf;
$default-10-hovered-solid-background: #654dc4;
$default-11-low-contrast-text: #6550b9;
$default-12-high-contrast-text: #2f265f;